<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: body"></div>
<div th:replace="fragments/sidebar :: body"></div>

<div class="content">
    <h3>Dashboard</h3>

    <div class="cards">
        <div class="card">
            <h4>Total Trips</h4>
            <p th:text="${totalTrips}">0</p>
        </div>

        <div class="card">
            <h4>Today’s Trips</h4>
            <p th:text="${todayTrips}">0</p>
        </div>

        <div class="card">
            <h4>Total Earnings</h4>
            <p>₹ <span th:text="${totalEarnings}">0</span></p>
        </div>
    </div>
</div>

</body>
</html>
